version: '3.8'

services:
  flask:
    image: flask
    ports:
      - '80:3000'
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.4
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
