{% extends "base.html" %}

{% block body %}

{% if session %}
<div class="row justify-content-center text-center mt-5" style="max-width: 50%;">
  <div class="col-6">
    <h1>Welcome {{session.userinfo.get('preferred_username')}}</h1>
  </div>
  <div class="col-6">
    <a href="/logout" class="btn btn-primary" role="button">Logout</a>
  </div>
</div>

<div class="row table-responsive">
  <table class="table table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">Clave</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td>{{ session.userinfo.email }}</td>
      </tr>
      <tr>
        <td>Nombre</td>
        <td>{{ session.userinfo.given_name }}</td>
      </tr>
      <tr>
        <td>Access Token</td>
        <td>{{session.access_token}}</td>
      </tr>
      <tr>
        <td>Refresh Token</td>
        <td>{{session.refresh_token}}</td>
      </tr>
      <tr>
        <td>Expires in</td>
        <td>{{session.expires_in}}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <div><pre>{{pretty}}</pre></div> -->
{% else %}

<div class="container justify-content-center mt-5 align-items-center"> 
  <!----------------------- Main Container -------------------------->
  <div class="container d-flex justify-content-center align-items-center">
   <!----------------------- Login Container -------------------------->
      <div class="row border rounded-5 p-3 bg-white shadow box-area" style="max-width: 40%; margin-top: 5%; ">
         <div class="row align-items-center">
               <div class="header-text mb-4 mt-2">
                    <h2>Logueate</h2>
                    <p>Usando la cuenta en SQLite o en Redcloak.</p>
               </div>
               <div class="input-group mb-3">
                   <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email">
               </div>
               <div class="input-group mb-4">
                   <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Contraseña">
               </div>
               <!-- <div class="input-group mb-5 d-flex justify-content-between">
                   <div class="forgot">
                       <small><a href="#">¿Olvidaste la contraseña?</a></small>
                   </div>
               </div> -->
               <div class="input-group mb-3 ">
                   <a href="/login" class="btn btn-lg btn-primary w-100 fs-6" role="button">Login</a>
               </div>
               <div class="input-group mb-3">
                   <a href="/login" class="btn btn-lg btn-light w-100 fs-6">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Keycloak_Logo.png?20200311211229" style="width:20px" class="me-2">
                    <small>Login en Keycloak</small>
                  </button>
                </a>
               </div>
               <!-- <div class="row">
                   <small>Don't have account? <a href="#">Sign Up</a></small>
               </div> -->
         </div>
      </div> 
     </div>
   </div>

{% endif %}

{% endblock %}
